body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #111;
  color: white;
  text-align: center;
}

.container {
  padding: 20px;
}

input {
  padding: 12px;
  margin: 8px 0;
  width: 90%;
  border-radius: 8px;
  border: none;
}

button {
  padding: 12px 20px;
  margin: 10px 0;
  border: none;
  border-radius: 8px;
  background: #ff4757;
  color: white;
  font-weight: bold;
  width: 95%;
}

.hidden {
  display: none;
}

#wordDisplay {
  font-size: 28px;
  margin: 30px 0;
}